<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chain">
            <h2><span>Chain</span> {{chain.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Sku</span></dt>
                <dd>
                    <span>{{chain.sku}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{chain.active}}</span>
                </dd>
                <dt><span>Au</span></dt>
                <dd>
                    <span>{{chain.au}}</span>
                </dd>
                <dt><span>De</span></dt>
                <dd>
                    <span>{{chain.de}}</span>
                </dd>
                <dt><span>Metal Gearvisibility</span></dt>
                <dd>
                    <span>{{chain.metalGearvisibility}}</span>
                </dd>
                <dt><span>Bikematevisibility</span></dt>
                <dd>
                    <span>{{chain.bikematevisibility}}</span>
                </dd>
                <dt><span>Mgi Visibility</span></dt>
                <dd>
                    <span>{{chain.mgiVisibility}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{chain.status}}</span>
                </dd>
                <dt><span>Product Group 1</span></dt>
                <dd>
                    <span>{{chain.productGroup1}}</span>
                </dd>
                <dt><span>Product Group 2</span></dt>
                <dd>
                    <span>{{chain.productGroup2}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{chain.description}}</span>
                </dd>
                <dt><span>Unit</span></dt>
                <dd>
                    <span>{{chain.unit}}</span>
                </dd>
                <dt><span>Qty</span></dt>
                <dd>
                    <span>{{chain.qty}}</span>
                </dd>
                <dt><span>Brand</span></dt>
                <dd>
                    <span>{{chain.brand}}</span>
                </dd>
                <dt><span>Biketypes</span></dt>
                <dd>
                    <span>{{chain.biketypes}}</span>
                </dd>
                <dt><span>G S 1 EAN</span></dt>
                <dd>
                    <span>{{chain.gS1EAN}}</span>
                </dd>
                <dt><span>Our Notes</span></dt>
                <dd>
                    <span>{{chain.ourNotes}}</span>
                </dd>
                <dt><span>Customer Notes</span></dt>
                <dd>
                    <span>{{chain.customerNotes}}</span>
                </dd>
                <dt><span>Weightkg</span></dt>
                <dd>
                    <span>{{chain.weightkg}}</span>
                </dd>
                <dt><span>Pack Type</span></dt>
                <dd>
                    <span>{{chain.packType}}</span>
                </dd>
                <dt><span>Pack Length</span></dt>
                <dd>
                    <span>{{chain.packLength}}</span>
                </dd>
                <dt><span>Pack Height</span></dt>
                <dd>
                    <span>{{chain.packHeight}}</span>
                </dd>
                <dt><span>Pack Width</span></dt>
                <dd>
                    <span>{{chain.packWidth}}</span>
                </dd>
                <dt><span>Maxcc Dirt</span></dt>
                <dd>
                    <span>{{chain.maxccDirt}}</span>
                </dd>
                <dt><span>Pack Cubic</span></dt>
                <dd>
                    <span>{{chain.packCubic}}</span>
                </dd>
                <dt><span>Maxcc Street</span></dt>
                <dd>
                    <span>{{chain.maxccStreet}}</span>
                </dd>
                <dt><span>Chain Size</span></dt>
                <dd>
                    <span>{{chain.chainSize}}</span>
                </dd>
                <dt><span>Chain Type</span></dt>
                <dd>
                    <span>{{chain.chainType}}</span>
                </dd>
                <dt><span>Chain Links</span></dt>
                <dd>
                    <span>{{chain.chainLinks}}</span>
                </dd>
                <dt><span>Chain Tensile Strength N</span></dt>
                <dd>
                    <span>{{chain.chainTensileStrengthN}}</span>
                </dd>
                <dt><span>Chain Colour</span></dt>
                <dd>
                    <span>{{chain.chainColour}}</span>
                </dd>
                <dt><span>Comp RK</span></dt>
                <dd>
                    <span>{{chain.compRK}}</span>
                </dd>
                <dt><span>E Listing</span></dt>
                <dd>
                    <span>{{chain.eListing}}</span>
                </dd>
                <dt><span>Efor Make</span></dt>
                <dd>
                    <span>{{chain.eforMake}}</span>
                </dd>
                <dt><span>Euploaded Neto</span></dt>
                <dd>
                    <span>{{chain.euploadedNeto}}</span>
                </dd>
                <dt><span>E Date</span></dt>
                <dd>
                    <span>{{chain.eDate}}</span>
                </dd>
                <dt><span>Echeck</span></dt>
                <dd>
                    <span>{{chain.echeck}}</span>
                </dd>
                <dt><span>Euploadede Bay</span></dt>
                <dd>
                    <span>{{chain.euploadedeBay}}</span>
                </dd>
                <dt><span>E Bayactive</span></dt>
                <dd>
                    <span>{{chain.eBayactive}}</span>
                </dd>
                <dt><span>E Photobucket</span></dt>
                <dd>
                    <span>{{chain.ePhotobucket}}</span>
                </dd>
                <dt><span>E Photo Main</span></dt>
                <dd>
                    <span>{{chain.ePhotoMain}}</span>
                </dd>
                <dt><span>E Photo Clear</span></dt>
                <dd>
                    <span>{{chain.ePhotoClear}}</span>
                </dd>
                <dt><span>E Photo Side</span></dt>
                <dd>
                    <span>{{chain.ePhotoSide}}</span>
                </dd>
                <dt><span>Sales Status</span></dt>
                <dd>
                    <span>{{chain.salesStatus}}</span>
                </dd>
                <dt><span>R RP</span></dt>
                <dd>
                    <span>{{chain.rRP}}</span>
                </dd>
                <dt><span>E Bay</span></dt>
                <dd>
                    <span>{{chain.eBay}}</span>
                </dd>
                <dt><span>Trade 1</span></dt>
                <dd>
                    <span>{{chain.trade1}}</span>
                </dd>
                <dt><span>Trade 2</span></dt>
                <dd>
                    <span>{{chain.trade2}}</span>
                </dd>
                <dt><span>Trade 3</span></dt>
                <dd>
                    <span>{{chain.trade3}}</span>
                </dd>
                <dt><span>Distributor NZAUD</span></dt>
                <dd>
                    <span>{{chain.distributorNZAUD}}</span>
                </dd>
                <dt><span>Distributor USD</span></dt>
                <dd>
                    <span>{{chain.distributorUSD}}</span>
                </dd>
                <dt><span>Distributor EUR</span></dt>
                <dd>
                    <span>{{chain.distributorEUR}}</span>
                </dd>
                <dt><span>Total Stock</span></dt>
                <dd>
                    <span>{{chain.totalStock}}</span>
                </dd>
                <dt><span>Min Stock</span></dt>
                <dd>
                    <span>{{chain.minStock}}</span>
                </dd>
                <dt><span>Max Stock</span></dt>
                <dd>
                    <span>{{chain.maxStock}}</span>
                </dd>
                <dt><span>Supplier</span></dt>
                <dd>
                    <span>{{chain.supplier}}</span>
                </dd>
                <dt><span>Supplier Code</span></dt>
                <dd>
                    <span>{{chain.supplierCode}}</span>
                </dd>
                <dt><span>Supplier Currency</span></dt>
                <dd>
                    <span>{{chain.supplierCurrency}}</span>
                </dd>
                <dt><span>Supplier Cost</span></dt>
                <dd>
                    <span>{{chain.supplierCost}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chain', chain.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
