<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="brakePad">
            <h2><span>Brake Pad</span> {{brakePad.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Sku</span></dt>
                <dd>
                    <span>{{brakePad.sku}}</span>
                </dd>
                <dt><span>Au</span></dt>
                <dd>
                    <span>{{brakePad.au}}</span>
                </dd>
                <dt><span>De</span></dt>
                <dd>
                    <span>{{brakePad.de}}</span>
                </dd>
                <dt><span>Bikemate Visibility</span></dt>
                <dd>
                    <span>{{brakePad.bikemateVisibility}}</span>
                </dd>
                <dt><span>Mgi Visiblity</span></dt>
                <dd>
                    <span>{{brakePad.mgiVisiblity}}</span>
                </dd>
                <dt><span>Active Neto</span></dt>
                <dd>
                    <span>{{brakePad.activeNeto}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{brakePad.status}}</span>
                </dd>
                <dt><span>Product Group 1</span></dt>
                <dd>
                    <span>{{brakePad.productGroup1}}</span>
                </dd>
                <dt><span>Product Group 2</span></dt>
                <dd>
                    <span>{{brakePad.productGroup2}}</span>
                </dd>
                <dt><span>Fitment</span></dt>
                <dd>
                    <span>{{brakePad.fitment}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{brakePad.description}}</span>
                </dd>
                <dt><span>Unit</span></dt>
                <dd>
                    <span>{{brakePad.unit}}</span>
                </dd>
                <dt><span>Qty</span></dt>
                <dd>
                    <span>{{brakePad.qty}}</span>
                </dd>
                <dt><span>Brand</span></dt>
                <dd>
                    <span>{{brakePad.brand}}</span>
                </dd>
                <dt><span>Biketypes</span></dt>
                <dd>
                    <span>{{brakePad.biketypes}}</span>
                </dd>
                <dt><span>Models 2012 On</span></dt>
                <dd>
                    <span>{{brakePad.models2012on}}</span>
                </dd>
                <dt><span>G S 1 EAN</span></dt>
                <dd>
                    <span>{{brakePad.gS1EAN}}</span>
                </dd>
                <dt><span>Our Notes</span></dt>
                <dd>
                    <span>{{brakePad.ourNotes}}</span>
                </dd>
                <dt><span>Weightkg</span></dt>
                <dd>
                    <span>{{brakePad.weightkg}}</span>
                </dd>
                <dt><span>Pack Type</span></dt>
                <dd>
                    <span>{{brakePad.packType}}</span>
                </dd>
                <dt><span>Pack Length</span></dt>
                <dd>
                    <span>{{brakePad.packLength}}</span>
                </dd>
                <dt><span>Pack Width</span></dt>
                <dd>
                    <span>{{brakePad.packWidth}}</span>
                </dd>
                <dt><span>Pack Height</span></dt>
                <dd>
                    <span>{{brakePad.packHeight}}</span>
                </dd>
                <dt><span>Pack Cubic</span></dt>
                <dd>
                    <span>{{brakePad.packCubic}}</span>
                </dd>
                <dt><span>Caliper</span></dt>
                <dd>
                    <span>{{brakePad.caliper}}</span>
                </dd>
                <dt><span>Alength</span></dt>
                <dd>
                    <span>{{brakePad.alength}}</span>
                </dd>
                <dt><span>Awidth</span></dt>
                <dd>
                    <span>{{brakePad.awidth}}</span>
                </dd>
                <dt><span>Athickness</span></dt>
                <dd>
                    <span>{{brakePad.athickness}}</span>
                </dd>
                <dt><span>Blength</span></dt>
                <dd>
                    <span>{{brakePad.blength}}</span>
                </dd>
                <dt><span>Bwidth</span></dt>
                <dd>
                    <span>{{brakePad.bwidth}}</span>
                </dd>
                <dt><span>Bthickness</span></dt>
                <dd>
                    <span>{{brakePad.bthickness}}</span>
                </dd>
                <dt><span>Customer Notes</span></dt>
                <dd>
                    <span>{{brakePad.customerNotes}}</span>
                </dd>
                <dt><span>E Listing</span></dt>
                <dd>
                    <span>{{brakePad.eListing}}</span>
                </dd>
                <dt><span>Efor Make</span></dt>
                <dd>
                    <span>{{brakePad.eforMake}}</span>
                </dd>
                <dt><span>Euploaded Neto</span></dt>
                <dd>
                    <span>{{brakePad.euploadedNeto}}</span>
                </dd>
                <dt><span>E Date</span></dt>
                <dd>
                    <span>{{brakePad.eDate}}</span>
                </dd>
                <dt><span>Echeck</span></dt>
                <dd>
                    <span>{{brakePad.echeck}}</span>
                </dd>
                <dt><span>Euploadede Bay</span></dt>
                <dd>
                    <span>{{brakePad.euploadedeBay}}</span>
                </dd>
                <dt><span>Ebayactive</span></dt>
                <dd>
                    <span>{{brakePad.ebayactive}}</span>
                </dd>
                <dt><span>E Photobucket</span></dt>
                <dd>
                    <span>{{brakePad.ePhotobucket}}</span>
                </dd>
                <dt><span>E Photo Main</span></dt>
                <dd>
                    <span>{{brakePad.ePhotoMain}}</span>
                </dd>
                <dt><span>E Photo Clear</span></dt>
                <dd>
                    <span>{{brakePad.ePhotoClear}}</span>
                </dd>
                <dt><span>E Photo Side</span></dt>
                <dd>
                    <span>{{brakePad.ePhotoSide}}</span>
                </dd>
                <dt><span>Sale Status</span></dt>
                <dd>
                    <span>{{brakePad.saleStatus}}</span>
                </dd>
                <dt><span>R RP</span></dt>
                <dd>
                    <span>{{brakePad.rRP}}</span>
                </dd>
                <dt><span>E Bay</span></dt>
                <dd>
                    <span>{{brakePad.eBay}}</span>
                </dd>
                <dt><span>E BC</span></dt>
                <dd>
                    <span>{{brakePad.eBC}}</span>
                </dd>
                <dt><span>S BS</span></dt>
                <dd>
                    <span>{{brakePad.sBS}}</span>
                </dd>
                <dt><span>Goldfren</span></dt>
                <dd>
                    <span>{{brakePad.goldfren}}</span>
                </dd>
                <dt><span>Braking</span></dt>
                <dd>
                    <span>{{brakePad.braking}}</span>
                </dd>
                <dt><span>Brembo</span></dt>
                <dd>
                    <span>{{brakePad.brembo}}</span>
                </dd>
                <dt><span>Ferodo</span></dt>
                <dd>
                    <span>{{brakePad.ferodo}}</span>
                </dd>
                <dt><span>Goodridge</span></dt>
                <dd>
                    <span>{{brakePad.goodridge}}</span>
                </dd>
                <dt><span>Premier</span></dt>
                <dd>
                    <span>{{brakePad.premier}}</span>
                </dd>
                <dt><span>Carbon</span></dt>
                <dd>
                    <span>{{brakePad.carbon}}</span>
                </dd>
                <dt><span>Galfer</span></dt>
                <dd>
                    <span>{{brakePad.galfer}}</span>
                </dd>
                <dt><span>Vesrah</span></dt>
                <dd>
                    <span>{{brakePad.vesrah}}</span>
                </dd>
                <dt><span>Lucas</span></dt>
                <dd>
                    <span>{{brakePad.lucas}}</span>
                </dd>
                <dt><span>New Fren</span></dt>
                <dd>
                    <span>{{brakePad.newFren}}</span>
                </dd>
                <dt><span>Dunlop</span></dt>
                <dd>
                    <span>{{brakePad.dunlop}}</span>
                </dd>
                <dt><span>Lockheed</span></dt>
                <dd>
                    <span>{{brakePad.lockheed}}</span>
                </dd>
                <dt><span>Bendix</span></dt>
                <dd>
                    <span>{{brakePad.bendix}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/brake-pad', brakePad.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
