<div>
    <h2 id="page-heading">
        <span>Bike Front Sprockets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bike-front-sprocket" [routerLink]="['/bike-front-sprocket/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Bike Front Sprocket
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bikeFrontSprockets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Sku</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bikeFrontSprocket of bikeFrontSprockets ;trackBy: trackId">
                <td><a [routerLink]="['/bike-front-sprocket', bikeFrontSprocket.id, 'view' ]">{{bikeFrontSprocket.id}}</a></td>
                <td>{{bikeFrontSprocket.sku}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bike-front-sprocket', bikeFrontSprocket.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bike-front-sprocket', bikeFrontSprocket.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bike-front-sprocket/'+ bikeFrontSprocket.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
