<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="brakeDisc">
            <h2><span>Brake Disc</span> {{brakeDisc.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Sku</span></dt>
                <dd>
                    <span>{{brakeDisc.sku}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{brakeDisc.active}}</span>
                </dd>
                <dt><span>Au</span></dt>
                <dd>
                    <span>{{brakeDisc.au}}</span>
                </dd>
                <dt><span>De</span></dt>
                <dd>
                    <span>{{brakeDisc.de}}</span>
                </dd>
                <dt><span>Metal Gearvisibility</span></dt>
                <dd>
                    <span>{{brakeDisc.metalGearvisibility}}</span>
                </dd>
                <dt><span>Bikematevisibility</span></dt>
                <dd>
                    <span>{{brakeDisc.bikematevisibility}}</span>
                </dd>
                <dt><span>Mgi Visibility</span></dt>
                <dd>
                    <span>{{brakeDisc.mgiVisibility}}</span>
                </dd>
                <dt><span>Disc Status</span></dt>
                <dd>
                    <span>{{brakeDisc.discStatus}}</span>
                </dd>
                <dt><span>Product Group 1</span></dt>
                <dd>
                    <span>{{brakeDisc.productGroup1}}</span>
                </dd>
                <dt><span>Product Group 2</span></dt>
                <dd>
                    <span>{{brakeDisc.productGroup2}}</span>
                </dd>
                <dt><span>Fitment</span></dt>
                <dd>
                    <span>{{brakeDisc.fitment}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{brakeDisc.description}}</span>
                </dd>
                <dt><span>Unit</span></dt>
                <dd>
                    <span>{{brakeDisc.unit}}</span>
                </dd>
                <dt><span>Qty</span></dt>
                <dd>
                    <span>{{brakeDisc.qty}}</span>
                </dd>
                <dt><span>Brand</span></dt>
                <dd>
                    <span>{{brakeDisc.brand}}</span>
                </dd>
                <dt><span>Biketypes</span></dt>
                <dd>
                    <span>{{brakeDisc.biketypes}}</span>
                </dd>
                <dt><span>Models 2012 On</span></dt>
                <dd>
                    <span>{{brakeDisc.models2012on}}</span>
                </dd>
                <dt><span>G S 1 EAN No</span></dt>
                <dd>
                    <span>{{brakeDisc.gS1EANNo}}</span>
                </dd>
                <dt><span>Our Notes</span></dt>
                <dd>
                    <span>{{brakeDisc.ourNotes}}</span>
                </dd>
                <dt><span>Weight</span></dt>
                <dd>
                    <span>{{brakeDisc.weight}}</span>
                </dd>
                <dt><span>Pack Type</span></dt>
                <dd>
                    <span>{{brakeDisc.packType}}</span>
                </dd>
                <dt><span>Pack Length</span></dt>
                <dd>
                    <span>{{brakeDisc.packLength}}</span>
                </dd>
                <dt><span>Pack Height</span></dt>
                <dd>
                    <span>{{brakeDisc.packHeight}}</span>
                </dd>
                <dt><span>Pack Width</span></dt>
                <dd>
                    <span>{{brakeDisc.packWidth}}</span>
                </dd>
                <dt><span>Pack Cubic</span></dt>
                <dd>
                    <span>{{brakeDisc.packCubic}}</span>
                </dd>
                <dt><span>O D</span></dt>
                <dd>
                    <span>{{brakeDisc.oD}}</span>
                </dd>
                <dt><span>B HC</span></dt>
                <dd>
                    <span>{{brakeDisc.bHC}}</span>
                </dd>
                <dt><span>B H Qty</span></dt>
                <dd>
                    <span>{{brakeDisc.bHQty}}</span>
                </dd>
                <dt><span>B H Size</span></dt>
                <dd>
                    <span>{{brakeDisc.bHSize}}</span>
                </dd>
                <dt><span>B HOD</span></dt>
                <dd>
                    <span>{{brakeDisc.bHOD}}</span>
                </dd>
                <dt><span>B H Step</span></dt>
                <dd>
                    <span>{{brakeDisc.bHStep}}</span>
                </dd>
                <dt><span>B H Type</span></dt>
                <dd>
                    <span>{{brakeDisc.bHType}}</span>
                </dd>
                <dt><span>Thickness</span></dt>
                <dd>
                    <span>{{brakeDisc.thickness}}</span>
                </dd>
                <dt><span>Thickness Min</span></dt>
                <dd>
                    <span>{{brakeDisc.thicknessMin}}</span>
                </dd>
                <dt><span>Offset</span></dt>
                <dd>
                    <span>{{brakeDisc.offset}}</span>
                </dd>
                <dt><span>Brake Areawidth</span></dt>
                <dd>
                    <span>{{brakeDisc.brakeAreawidth}}</span>
                </dd>
                <dt><span>T UVLHC</span></dt>
                <dd>
                    <span>{{brakeDisc.tUVLHC}}</span>
                </dd>
                <dt><span>Customer Notes</span></dt>
                <dd>
                    <span>{{brakeDisc.customerNotes}}</span>
                </dd>
                <dt><span>E Listing</span></dt>
                <dd>
                    <span>{{brakeDisc.eListing}}</span>
                </dd>
                <dt><span>Efor Make</span></dt>
                <dd>
                    <span>{{brakeDisc.eforMake}}</span>
                </dd>
                <dt><span>E Date</span></dt>
                <dd>
                    <span>{{brakeDisc.eDate}}</span>
                </dd>
                <dt><span>Euploaded Neto</span></dt>
                <dd>
                    <span>{{brakeDisc.euploadedNeto}}</span>
                </dd>
                <dt><span>Echeck</span></dt>
                <dd>
                    <span>{{brakeDisc.echeck}}</span>
                </dd>
                <dt><span>Euploadede Bay</span></dt>
                <dd>
                    <span>{{brakeDisc.euploadedeBay}}</span>
                </dd>
                <dt><span>Ebayactive</span></dt>
                <dd>
                    <span>{{brakeDisc.ebayactive}}</span>
                </dd>
                <dt><span>E Photobucket</span></dt>
                <dd>
                    <span>{{brakeDisc.ePhotobucket}}</span>
                </dd>
                <dt><span>E Photo 1</span></dt>
                <dd>
                    <span>{{brakeDisc.ePhoto1}}</span>
                </dd>
                <dt><span>E Photo 2</span></dt>
                <dd>
                    <span>{{brakeDisc.ePhoto2}}</span>
                </dd>
                <dt><span>E Photo 3</span></dt>
                <dd>
                    <span>{{brakeDisc.ePhoto3}}</span>
                </dd>
                <dt><span>Sale Status</span></dt>
                <dd>
                    <span>{{brakeDisc.saleStatus}}</span>
                </dd>
                <dt><span>R RP</span></dt>
                <dd>
                    <span>{{brakeDisc.rRP}}</span>
                </dd>
                <dt><span>Trade 1</span></dt>
                <dd>
                    <span>{{brakeDisc.trade1}}</span>
                </dd>
                <dt><span>E BAY</span></dt>
                <dd>
                    <span>{{brakeDisc.eBAY}}</span>
                </dd>
                <dt><span>Trade 2</span></dt>
                <dd>
                    <span>{{brakeDisc.trade2}}</span>
                </dd>
                <dt><span>Trade 3</span></dt>
                <dd>
                    <span>{{brakeDisc.trade3}}</span>
                </dd>
                <dt><span>Distributor NZAUD</span></dt>
                <dd>
                    <span>{{brakeDisc.distributorNZAUD}}</span>
                </dd>
                <dt><span>Distributor EUR</span></dt>
                <dd>
                    <span>{{brakeDisc.distributorEUR}}</span>
                </dd>
                <dt><span>Distributor USD</span></dt>
                <dd>
                    <span>{{brakeDisc.distributorUSD}}</span>
                </dd>
                <dt><span>S Priority</span></dt>
                <dd>
                    <span>{{brakeDisc.sPriority}}</span>
                </dd>
                <dt><span>Samplefrom</span></dt>
                <dd>
                    <span>{{brakeDisc.samplefrom}}</span>
                </dd>
                <dt><span>Requestedfrom</span></dt>
                <dd>
                    <span>{{brakeDisc.requestedfrom}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{brakeDisc.date}}</span>
                </dd>
                <dt><span>Received</span></dt>
                <dd>
                    <span>{{brakeDisc.received}}</span>
                </dd>
                <dt><span>Camefrom</span></dt>
                <dd>
                    <span>{{brakeDisc.camefrom}}</span>
                </dd>
                <dt><span>Paidfor</span></dt>
                <dd>
                    <span>{{brakeDisc.paidfor}}</span>
                </dd>
                <dt><span>Sentto</span></dt>
                <dd>
                    <span>{{brakeDisc.sentto}}</span>
                </dd>
                <dt><span>Ship No</span></dt>
                <dd>
                    <span>{{brakeDisc.shipNo}}</span>
                </dd>
                <dt><span>Datesent</span></dt>
                <dd>
                    <span>{{brakeDisc.datesent}}</span>
                </dd>
                <dt><span>Samplereturn</span></dt>
                <dd>
                    <span>{{brakeDisc.samplereturn}}</span>
                </dd>
                <dt><span>Make</span></dt>
                <dd>
                    <span>{{brakeDisc.make}}</span>
                </dd>
                <dt><span>Model</span></dt>
                <dd>
                    <span>{{brakeDisc.model}}</span>
                </dd>
                <dt><span>Year</span></dt>
                <dd>
                    <span>{{brakeDisc.year}}</span>
                </dd>
                <dt><span>Sample Fitment</span></dt>
                <dd>
                    <span>{{brakeDisc.sampleFitment}}</span>
                </dd>
                <dt><span>O EM</span></dt>
                <dd>
                    <span>{{brakeDisc.oEM}}</span>
                </dd>
                <dt><span>Notesfor Production</span></dt>
                <dd>
                    <span>{{brakeDisc.notesforProduction}}</span>
                </dd>
                <dt><span>Production Code</span></dt>
                <dd>
                    <span>{{brakeDisc.productionCode}}</span>
                </dd>
                <dt><span>H A Papproved</span></dt>
                <dd>
                    <span>{{brakeDisc.hAPapproved}}</span>
                </dd>
                <dt><span>S H Aapproved</span></dt>
                <dd>
                    <span>{{brakeDisc.sHAapproved}}</span>
                </dd>
                <dt><span>Approvedby</span></dt>
                <dd>
                    <span>{{brakeDisc.approvedby}}</span>
                </dd>
                <dt><span>Notesto Drawing</span></dt>
                <dd>
                    <span>{{brakeDisc.notestoDrawing}}</span>
                </dd>
                <dt><span>Filename</span></dt>
                <dd>
                    <span>{{brakeDisc.filename}}</span>
                </dd>
                <dt><span>C OSTUSD</span></dt>
                <dd>
                    <span>{{brakeDisc.cOSTUSD}}</span>
                </dd>
                <dt><span>Centrecolour</span></dt>
                <dd>
                    <span>{{brakeDisc.centrecolour}}</span>
                </dd>
                <dt><span>Laser</span></dt>
                <dd>
                    <span>{{brakeDisc.laser}}</span>
                </dd>
                <dt><span>Q TY 1</span></dt>
                <dd>
                    <span>{{brakeDisc.qTY1}}</span>
                </dd>
                <dt><span>U SD</span></dt>
                <dd>
                    <span>{{brakeDisc.uSD}}</span>
                </dd>
                <dt><span>Complete Production</span></dt>
                <dd>
                    <span>{{brakeDisc.completeProduction}}</span>
                </dd>
                <dt><span>Our Noteto Production</span></dt>
                <dd>
                    <span>{{brakeDisc.ourNotetoProduction}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/brake-disc', brakeDisc.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
