<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sprocket">
            <h2><span>Sprocket</span> {{sprocket.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Sku</span></dt>
                <dd>
                    <span>{{sprocket.sku}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{sprocket.active}}</span>
                </dd>
                <dt><span>Au</span></dt>
                <dd>
                    <span>{{sprocket.au}}</span>
                </dd>
                <dt><span>De</span></dt>
                <dd>
                    <span>{{sprocket.de}}</span>
                </dd>
                <dt><span>Metal Gearvisibility</span></dt>
                <dd>
                    <span>{{sprocket.metalGearvisibility}}</span>
                </dd>
                <dt><span>Bikematevisibility</span></dt>
                <dd>
                    <span>{{sprocket.bikematevisibility}}</span>
                </dd>
                <dt><span>Mgi Visibility</span></dt>
                <dd>
                    <span>{{sprocket.mgiVisibility}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{sprocket.status}}</span>
                </dd>
                <dt><span>Product Group 1</span></dt>
                <dd>
                    <span>{{sprocket.productGroup1}}</span>
                </dd>
                <dt><span>Product Group 2</span></dt>
                <dd>
                    <span>{{sprocket.productGroup2}}</span>
                </dd>
                <dt><span>Countries</span></dt>
                <dd>
                    <span>{{sprocket.countries}}</span>
                </dd>
                <dt><span>Fitment</span></dt>
                <dd>
                    <span>{{sprocket.fitment}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{sprocket.description}}</span>
                </dd>
                <dt><span>Unit</span></dt>
                <dd>
                    <span>{{sprocket.unit}}</span>
                </dd>
                <dt><span>Qty</span></dt>
                <dd>
                    <span>{{sprocket.qty}}</span>
                </dd>
                <dt><span>Brand</span></dt>
                <dd>
                    <span>{{sprocket.brand}}</span>
                </dd>
                <dt><span>Biketypes</span></dt>
                <dd>
                    <span>{{sprocket.biketypes}}</span>
                </dd>
                <dt><span>Fits Makes</span></dt>
                <dd>
                    <span>{{sprocket.fitsMakes}}</span>
                </dd>
                <dt><span>Modelsupto</span></dt>
                <dd>
                    <span>{{sprocket.modelsupto}}</span>
                </dd>
                <dt><span>G S 1 EAN</span></dt>
                <dd>
                    <span>{{sprocket.gS1EAN}}</span>
                </dd>
                <dt><span>Our Notes</span></dt>
                <dd>
                    <span>{{sprocket.ourNotes}}</span>
                </dd>
                <dt><span>Customer Notes</span></dt>
                <dd>
                    <span>{{sprocket.customerNotes}}</span>
                </dd>
                <dt><span>Weightkg</span></dt>
                <dd>
                    <span>{{sprocket.weightkg}}</span>
                </dd>
                <dt><span>Pack Type</span></dt>
                <dd>
                    <span>{{sprocket.packType}}</span>
                </dd>
                <dt><span>Pack Length</span></dt>
                <dd>
                    <span>{{sprocket.packLength}}</span>
                </dd>
                <dt><span>Pack Width</span></dt>
                <dd>
                    <span>{{sprocket.packWidth}}</span>
                </dd>
                <dt><span>Pack Height</span></dt>
                <dd>
                    <span>{{sprocket.packHeight}}</span>
                </dd>
                <dt><span>Pack Cubic</span></dt>
                <dd>
                    <span>{{sprocket.packCubic}}</span>
                </dd>
                <dt><span>Sprocket Chain Size</span></dt>
                <dd>
                    <span>{{sprocket.sprocketChainSize}}</span>
                </dd>
                <dt><span>Sprocket Teeth</span></dt>
                <dd>
                    <span>{{sprocket.sprocketTeeth}}</span>
                </dd>
                <dt><span>E SBHC</span></dt>
                <dd>
                    <span>{{sprocket.eSBHC}}</span>
                </dd>
                <dt><span>E SID</span></dt>
                <dd>
                    <span>{{sprocket.eSID}}</span>
                </dd>
                <dt><span>E SI Dinner Teeth</span></dt>
                <dd>
                    <span>{{sprocket.eSIDinnerTeeth}}</span>
                </dd>
                <dt><span>E SBH Qty</span></dt>
                <dd>
                    <span>{{sprocket.eSBHQty}}</span>
                </dd>
                <dt><span>E SBH Size</span></dt>
                <dd>
                    <span>{{sprocket.eSBHSize}}</span>
                </dd>
                <dt><span>E SBH Type</span></dt>
                <dd>
                    <span>{{sprocket.eSBHType}}</span>
                </dd>
                <dt><span>E S Width</span></dt>
                <dd>
                    <span>{{sprocket.eSWidth}}</span>
                </dd>
                <dt><span>Toliston Ebay</span></dt>
                <dd>
                    <span>{{sprocket.tolistonEbay}}</span>
                </dd>
                <dt><span>E Listing</span></dt>
                <dd>
                    <span>{{sprocket.eListing}}</span>
                </dd>
                <dt><span>Efor Make</span></dt>
                <dd>
                    <span>{{sprocket.eforMake}}</span>
                </dd>
                <dt><span>Euploaded Neto</span></dt>
                <dd>
                    <span>{{sprocket.euploadedNeto}}</span>
                </dd>
                <dt><span>E Date</span></dt>
                <dd>
                    <span>{{sprocket.eDate}}</span>
                </dd>
                <dt><span>Echeck</span></dt>
                <dd>
                    <span>{{sprocket.echeck}}</span>
                </dd>
                <dt><span>Euploadede Bay</span></dt>
                <dd>
                    <span>{{sprocket.euploadedeBay}}</span>
                </dd>
                <dt><span>E Bayactive</span></dt>
                <dd>
                    <span>{{sprocket.eBayactive}}</span>
                </dd>
                <dt><span>E Photobucket</span></dt>
                <dd>
                    <span>{{sprocket.ePhotobucket}}</span>
                </dd>
                <dt><span>E Photo Main</span></dt>
                <dd>
                    <span>{{sprocket.ePhotoMain}}</span>
                </dd>
                <dt><span>E Photo Clear</span></dt>
                <dd>
                    <span>{{sprocket.ePhotoClear}}</span>
                </dd>
                <dt><span>E Photo Side</span></dt>
                <dd>
                    <span>{{sprocket.ePhotoSide}}</span>
                </dd>
                <dt><span>Sales Status</span></dt>
                <dd>
                    <span>{{sprocket.salesStatus}}</span>
                </dd>
                <dt><span>R RP</span></dt>
                <dd>
                    <span>{{sprocket.rRP}}</span>
                </dd>
                <dt><span>E Bay</span></dt>
                <dd>
                    <span>{{sprocket.eBay}}</span>
                </dd>
                <dt><span>Trade 1</span></dt>
                <dd>
                    <span>{{sprocket.trade1}}</span>
                </dd>
                <dt><span>Trade 2</span></dt>
                <dd>
                    <span>{{sprocket.trade2}}</span>
                </dd>
                <dt><span>Trade 3</span></dt>
                <dd>
                    <span>{{sprocket.trade3}}</span>
                </dd>
                <dt><span>Distributor NZAUD</span></dt>
                <dd>
                    <span>{{sprocket.distributorNZAUD}}</span>
                </dd>
                <dt><span>Distributor USD</span></dt>
                <dd>
                    <span>{{sprocket.distributorUSD}}</span>
                </dd>
                <dt><span>Distributor EUR</span></dt>
                <dd>
                    <span>{{sprocket.distributorEUR}}</span>
                </dd>
                <dt><span>Bikemate AUD</span></dt>
                <dd>
                    <span>{{sprocket.bikemateAUD}}</span>
                </dd>
                <dt><span>Comp Metal Gear</span></dt>
                <dd>
                    <span>{{sprocket.compMetalGear}}</span>
                </dd>
                <dt><span>Comp Mogema</span></dt>
                <dd>
                    <span>{{sprocket.compMogema}}</span>
                </dd>
                <dt><span>Comp JT</span></dt>
                <dd>
                    <span>{{sprocket.compJT}}</span>
                </dd>
                <dt><span>J TBHC</span></dt>
                <dd>
                    <span>{{sprocket.jTBHC}}</span>
                </dd>
                <dt><span>J TID</span></dt>
                <dd>
                    <span>{{sprocket.jTID}}</span>
                </dd>
                <dt><span>J TI Dinner Teeth</span></dt>
                <dd>
                    <span>{{sprocket.jTIDinnerTeeth}}</span>
                </dd>
                <dt><span>J TBH Qty</span></dt>
                <dd>
                    <span>{{sprocket.jTBHQty}}</span>
                </dd>
                <dt><span>J TBH Size</span></dt>
                <dd>
                    <span>{{sprocket.jTBHSize}}</span>
                </dd>
                <dt><span>J TBH Type</span></dt>
                <dd>
                    <span>{{sprocket.jTBHType}}</span>
                </dd>
                <dt><span>J T Width</span></dt>
                <dd>
                    <span>{{sprocket.jTWidth}}</span>
                </dd>
                <dt><span>J T Note</span></dt>
                <dd>
                    <span>{{sprocket.jTNote}}</span>
                </dd>
                <dt><span>Comp Esjot</span></dt>
                <dd>
                    <span>{{sprocket.compEsjot}}</span>
                </dd>
                <dt><span>Comp Super Sprox</span></dt>
                <dd>
                    <span>{{sprocket.compSuperSprox}}</span>
                </dd>
                <dt><span>Stock</span></dt>
                <dd>
                    <span>{{sprocket.stock}}</span>
                </dd>
                <dt><span>Min Stock</span></dt>
                <dd>
                    <span>{{sprocket.minStock}}</span>
                </dd>
                <dt><span>Max Stock</span></dt>
                <dd>
                    <span>{{sprocket.maxStock}}</span>
                </dd>
                <dt><span>Supplier</span></dt>
                <dd>
                    <span>{{sprocket.supplier}}</span>
                </dd>
                <dt><span>Supplier Code</span></dt>
                <dd>
                    <span>{{sprocket.supplierCode}}</span>
                </dd>
                <dt><span>Supplier Currency</span></dt>
                <dd>
                    <span>{{sprocket.supplierCurrency}}</span>
                </dd>
                <dt><span>Supplier Cost</span></dt>
                <dd>
                    <span>{{sprocket.supplierCost}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sprocket', sprocket.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
